.wrapper {
    min-height: calc(100vh - 56px); /* height minus the top nav bar */
}

/* Sidebar styles */
#sidebar {
    width: 250px;
    z-index: 999;
    transition: all 0.3s;
    background: #333;
    margin-left: 0;
}

#sidebar .sidebar-separator{
    background: #333;
}

#sidebar .sidebar-separator-title{
    padding: .25rem .5rem;
    background: #333;
}

#sidebar .sidebar-submenu a{
    padding: 10px 30px;
    font-size: .9em;
}

#sidebar.inactive{
    margin-left: -250px; /* moves the sidebar off-screen */
}

#sidebarCollapse{
    position: absolute;
    top:4px;
    left: 0;
    border-radius: 0 40% 40% 0;
}

#sidebar .list-group a.list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7"; /* up arrow */
}

#sidebar .list-group a.list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0d8"; /* down arrow */
}

/* Collapse Menu button */
#content .collapse-icon::after{
    content: "\f100"; /* left angle */
}

#content.active .collapse-icon::after{
    content: "\f101"; /* right angle */
}

/* Content Style */
#content{
    width: calc(100% - 250px); /* width minus the sidebar */
    padding: 40px;
    transition: all 0.3s;
    position: relative;
}

#content.active{
    width: 100%;
}

table.table th{
    white-space: nowrap;
}
